<main role="main">

  <section class="jumbotron text-center">
    <div *ngIf="!registerMode" class="container">
      <h1 class="jumbotron-heading">SortAlgoritms</h1>
      <p class="lead text-muted"> This application can help you to sort some information, like integer, 
        float numbers, strings inputting it directly or upload from file.</p>
      <p>
        <a [routerLink]="['/sort']" routerLinkActive="active"  class="btn btn-primary mr-2">Sort</a>
        <a href="#" class="btn btn-success my-2" (click)="registerToggle()">Register</a>
      </p>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
          </div>
        </div>
    </div>
  </section>

 

</main>